<div class="as-search-wrapper" role="main">
    <div class="as-producttile-info" style="float:left;min-height: 168px;">
        <h3>
            payment_id {{ payment_id }}
        </h3>
        <h3>
            payment_method_id {{ payment_type }}
        </h3>
        <h3>
            payment_type {{ payment_type }}
        </h3>
        <h3>
            external_reference {{ external_reference }}
        </h3>
    </div>
    <div id="wallet_container"></div>
</div>

</div>